td {
    font-size: 30px;
    border: 1px solid black;
    
}

th{
    font-size: 40px;
    border: 1px solid black;
}

td, th{
    padding: 10px;
    text-align: center;
}

table{
    padding: 100px;
}


article{
    display: flex;
    justify-content: center;
    align-items: center;
}
